{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <h1>{{ project.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>URL</th>
                <td><a href="{{ project.url }}" target="_blank" rel="noopener">{{ project.url }}</a></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description ?? 'No description available' }}</td>
            </tr>
            <tr>
                <th>Stars</th>
                <td>{{ project.stars|number_format }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ project.createdDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Last Push</th>
                <td>{{ project.lastPushDate ? project.lastPushDate|date('Y-m-d H:i:s') : 'N/A' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('github_projects_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
